<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <p><%- post.excerpt %></p>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-title=<%= post.title %> data-id="<%= post._id %>" class="article-share-link"><%= __('分享') %></a>
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } else if (post.comments && config.duoshuo) { %>
        <%- partial('duoshuo-html', {title: page.title, path: page.path, url: post.permalink}) %>
      <% } else if (post.comments && config.gitment) { %>
        <div id="gitment-container"></div>
      <% } else if (post.comments && config.gitalk) { %>
        <div id="gitalk-container"></div>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } else if (!index && post.comments && config.duoshuo) { %>  
  <%- partial('duoshuo-js', {name: config.duoshuo.short_name}) %>
<% } else if (!index && post.comments && config.gitment) { %>
  <%- css('css/gitment') %>
  <%- js('js/gitment.browser') %>
  <script>
    var gitment = new Gitment({
      id: '<%= post.path %>', // 可选。默认为 location.href
      owner: '<%= config.gitment.owner %>',
      repo: '<%= config.gitment.repo %>',
      oauth: {
        client_id: '<%= config.gitment.client_id %>',
        client_secret: '<%= config.gitment.client_secret %>',
      },
    })
    gitment.render('gitment-container')
  </script>
<% } else if (!index && post.comments && config.gitalk) { %>
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
  <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

  <script>
    var gitalkpath = '<%- post.path %>';
    var gitalktagpath = gitalkpath.split('/').slice(-3).join('/');
    var gitalk = new Gitalk({
        clientID: '<%= config.gitalk.client_id %>',
        clientSecret: '<%= config.gitalk.client_secret %>',
        repo: '<%= config.gitalk.repo %>',
        owner: '<%= config.gitalk.owner %>',
        admin: ['<%= config.gitalk.owner %>'],
        id: gitalktagpath,      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    });

    gitalk.render('gitalk-container');
  </script>
<% } %>
